body{
    height:100vh;
    background-color:yellow;
}

@media (min-width:500px) and (max-width:800px){
    body{
        background-color:cyan;
    }
    h1{
        font-size: 12px;
        border:2px solid black;
    }
}

@media (min-width:810px){
    body{
        background-color:red;
    }
}